[Match]
Name=enp2s0

[Network]
LinkLocalAddressing=no
IPv6AcceptRA=false

[Address]
DuplicateAddressDetection=false
Address=2a01:4f8:192:520b::2/128

[Address]
DuplicateAddressDetection=false
Address=2a01:4f8:192:520b::28/128
PreferredLifetime=0

[Address]
Address=144.76.107.12/27
Broadcast=144.76.107.31

[Address]
Address=144.76.107.28/27
Broadcast=144.76.107.31

[Route]
Gateway=fe80::1

[Route]
Gateway=144.76.107.1
