[Service]
Type=oneshot

PrivateTmp=true
NoNewPrivileges=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

ProtectHome=true
ProtectSystem=full
InaccessibleDirectories=/var/lib/mysql

User=php-bbs
Group=php-bbs

ExecStart=/usr/bin/mysql fluxbb --execute 'DELETE FROM users WHERE group_id=0 AND registered < ( UNIX_TIMESTAMP() - (60*60*24*30) );'
ExecStart=/usr/bin/mysql fluxbb --execute 'DELETE FROM reports WHERE zapped < (UNIX_TIMESTAMP() - (60*60*24*30));'

[Install]
WantedBy=multi-user.target
