[Unit]
Description=fcgiwrap Socket for %i

[Socket]
ListenStream=/run/fcgiwrap/%i.socket
SocketMode=0660
SocketUser=cgi-%i
SocketGroup=http

[Install]
WantedBy=sockets.target
