[Service]
Type=oneshot

User=php-forum
Group=php-forum

WorkingDirectory=/srv/http/vhosts/forum.archlinux.de
ExecStart=/usr/bin/php /srv/http/vhosts/forum.archlinux.de/flarum schedule:run -q

[Install]
WantedBy=multi-user.target
