[Service]
Type=oneshot

PrivateTmp=true
NoNewPrivileges=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

ProtectHome=true
ProtectSystem=full
InaccessibleDirectories=/var/lib/mysql

User=http
Group=http

WorkingDirectory=/srv/http/vhosts/admin.archlinux.de
ExecStart=/srv/http/vhosts/admin.archlinux.de/goaccess

[Install]
WantedBy=multi-user.target
