[Service]
Type=oneshot

InaccessibleDirectories=/var/lib/mysql
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full

User=http
Group=http

WorkingDirectory=/srv/http/vhosts/admin.archlinux.de
ExecStart=/srv/http/vhosts/admin.archlinux.de/goaccess

[Install]
WantedBy=multi-user.target
