[Unit]
Description=A high performance web server and a reverse proxy server
After=network-online.target mariadb.service
Wants=network-online.target
Requires=nginx.socket

[Service]
PrivateDevices=yes
SyslogLevel=err
PrivateTmp=true
IPAddressDeny=any
IPAddressAllow=localhost
IPAddressAllow=184.24.0.0/13
IPAddressAllow=2a02:26f0::/29
IPAddressAllow=8.8.8.8
IPAddressAllow=8.8.4.4
IPAddressAllow=2001:4860:4860::8888
IPAddressAllow=2001:4860:4860::8844
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
NoNewPrivileges=true
LockPersonality=true
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
CapabilityBoundingSet=
ProtectClock=true
RemoveIPC=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectKernelModules=true
SystemCallArchitectures=native
RestrictNamespaces=true
RestrictSUIDSGID=true
ProtectHostname=true
ProtectKernelTunables=true
RestrictRealtime=true
ProtectProc=invisible
ProtectHome=true
ProtectSystem=full
InaccessibleDirectories=/var/lib/mysql
User=http
Group=http

RuntimeDirectory=nginx
Environment=NGINX=3:4:5:6;
ExecStartPre=/usr/bin/sleep 5
ExecStartPre=/usr/bin/host -R 5 r3.o.lencr.org
PIDFile=/run/nginx/nginx.pid
ExecStart=/usr/bin/nginx -g 'pid /run/nginx/nginx.pid;error_log stderr alert;'
ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s QUIT $MAINPID
RestartSec=2

[Install]
WantedBy=multi-user.target
