[Unit]
Description=A high performance web server and a reverse proxy server
After=network-online.target mysqld.service
Wants=network-online.target
Requires=nginx.socket

[Service]
PrivateDevices=yes
SyslogLevel=err
PrivateTmp=true
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=full
InaccessibleDirectories=/srv/vmail /var/lib/mysql

Environment=NGINX=3:4:5:6:7:8:9:10;
ExecStartPre=-/usr/bin/host -R 5 ocsp.int-x3.letsencrypt.org
;ExecStartPre=/usr/bin/nginx -t
ExecStart=/usr/bin/nginx -g 'error_log stderr;'
ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s QUIT $MAINPID
RestartSec=2

[Install]
WantedBy=multi-user.target
