[Unit]
Description=A high performance web server and a reverse proxy server
After=network-online.target mariadb.service
Wants=network-online.target
Requires=nginx.socket

[Service]
CapabilityBoundingSet=
InaccessibleDirectories=/var/lib/mysql
IPAddressAllow=184.24.0.0/13
IPAddressAllow=2001:4860:4860::8844
IPAddressAllow=2001:4860:4860::8888
IPAddressAllow=2a02:26f0::/29
IPAddressAllow=8.8.4.4
IPAddressAllow=8.8.8.8
IPAddressAllow=localhost
IPAddressDeny=any
LockPersonality=true
NoNewPrivileges=true
PrivateDevices=yes
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=full
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SyslogLevel=err
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources

User=http
Group=http

RuntimeDirectory=nginx
Environment=NGINX=3:4:5:6:7:8;
ExecStartPre=/usr/bin/sleep 5
ExecStartPre=/usr/bin/host -R 5 r3.o.lencr.org
PIDFile=/run/nginx/nginx.pid
ExecStart=/usr/bin/nginx -g 'pid /run/nginx/nginx.pid;error_log stderr alert;'
ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s QUIT $MAINPID
RestartSec=2

[Install]
WantedBy=multi-user.target
