[Service]
Type=oneshot

PrivateTmp=true
NoNewPrivileges=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

ProtectHome=true
ProtectSystem=full
InaccessibleDirectories=/var/lib/mysql

User=php-paste
Group=php-paste

WorkingDirectory=/srv/http/vhosts/paste.archlinux.de
ExecStart=/usr/bin/php /srv/http/vhosts/paste.archlinux.de/public_html/index.php %i cron

[Install]
WantedBy=multi-user.target
