[Unit]
Description=PHP-FPM service for %i
After=syslog.target network.target
After=mysqld.service postfix.service

[Service]
Type=notify

PrivateTmp=true
NoNewPrivileges=true
;DeviceAllow=closed
;PrivateNetwork=true

InaccessibleDirectories=/home /srv/vmail
ReadOnlyDirectories=/usr /etc

User=php-%i
Group=php-%i
Environment="FPM_SOCKETS=/run/php-fpm/%i.socket=3"
ExecStart=/usr/bin/php-fpm --nodaemonize --fpm-config /etc/php/fpm.d/%i.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
