[Unit]
Description=PHP-FPM socket for %i

[Socket]
ListenStream=/run/php-fpm/%i.socket
SocketMode=0660
ExecStartPost=/usr/bin/chown php-%i:http /run/php-fpm/%i.socket

[Install] 
WantedBy=sockets.target
