[Service]
Type=oneshot

InaccessibleDirectories=/var/lib/mysql
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full

User=php-pierre
Group=php-pierre

WorkingDirectory=/srv/http/vhosts/pierre-schmitz.com
ExecStart=/srv/http/vhosts/pierre-schmitz.com/wp-cli cron event run --due-now --quiet

[Install]
WantedBy=multi-user.target
