[Service]
Type=oneshot

User=php-pierre
Group=php-pierre

WorkingDirectory=/srv/http/vhosts/pierre-schmitz.com
ExecStart=wp cron event run --due-now --quiet

[Install]
WantedBy=multi-user.target
