[Service]
Type=oneshot

User=php-planet
Group=php-planet

WorkingDirectory=/srv/http/vhosts/planet.archlinux.de/api
ExecStart=/srv/http/vhosts/planet.archlinux.de/api/bin/console %i

[Install]
WantedBy=multi-user.target
