[Service]
Type=oneshot

PrivateTmp=true
NoNewPrivileges=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

ProtectHome=true
ProtectSystem=full
InaccessibleDirectories=/var/lib/mysql

User=projects
Group=projects

WorkingDirectory=/srv/projects/archlinux.org
ExecStart=/srv/projects/archlinux.org/update

[Install]
WantedBy=multi-user.target
