[Unit]
Description=Spamassassin update

[Service]
User=spamd
Group=spamd
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true

ProtectHome=true
ProtectSystem=full
InaccessibleDirectories=/srv /var/lib/mysql

Type=oneshot
ExecStart=-/usr/bin/vendor_perl/sa-update -v --allowplugins
ExecStart=-/usr/bin/vendor_perl/sa-compile
