[Service]
Type=oneshot

InaccessibleDirectories=/var/lib/mysql
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full

User=php-www
Group=php-www

WorkingDirectory=/srv/http/vhosts/www.archlinux.de/api
ExecStart=/srv/http/vhosts/www.archlinux.de/api/bin/console %i

[Install]
WantedBy=multi-user.target
