[Service]
Type=oneshot

PrivateTmp=true
NoNewPrivileges=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

ProtectHome=true
ProtectSystem=full
InaccessibleDirectories=/var/lib/mysql

User=php-www
Group=php-www

WorkingDirectory=/srv/http/vhosts/www.archlinux.de
ExecStart=/srv/http/vhosts/www.archlinux.de/bin/console %i

[Install]
WantedBy=multi-user.target
